.menu{
    display: flex;
    justify-content: space-around;
    >div{
        border: 2px red solid;
        align-items: center;
    }
}

.activeLink{
    background-color: rgb(24, 234, 246);
}

.login{
    background-color: green;
}

.logout{
    background-color: red;
}